// Цвета
$primary-color: #755bc8;
$secondary-color: #463f50;
$text-color: #0f0f10;
$background-color: #755bc8;



// Шрифты
$font-stack: 'Helvetica, Arial, sans-serif';

// Размеры
$container-max-width: 1200px;
$padding: 20px;
